.form__container
  form.form#upload( action="login" method="POST")
      h2.form__subtitle Пожалуйсто авторизуйтесь
      .status
      label.form__input-line
          input(name="login" type="text" required placeholder="Введите логин").form__input#file-desc
      </br>
      label.form__input-line
          input(name="password" type="password" required placeholder="Введите пароль").form__input#file-select
      .form__btns
          input(name="" type="submit" value="Отправить").form__btn-send
